.timeline {
  padding: 2.4rem;
}

.newMessageBtn {
  background-image: linear-gradient( 135deg,  var(--primary__light), var(--primary__dark));
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--shadow);
  height: 5rem;
  width: 5rem;

  position: absolute;
  bottom: 3rem;
  right: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
}

@media only screen and (min-width: 600px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    column-gap: 3rem;
    padding: 2.4rem;
  }

  .newMessageBtn {
    display: none;
  }
}
